<div class="bg-dark border-right p-3" id="sidebar">
  <div class="list-group list-reset">
    <h3 class="text-light">Menu</h3>
    <hr class="text-white" />
    <mat-sidenav-container fullscreen>
      <mat-sidenav #sidenav>
        <mat-nav-list (click)="sidenav.close()">
          <a mat-list-item routerLink="Calendario">
            <mat-icon>Calendario</mat-icon>
            <span>Home</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>Menu</mat-icon>
        </button>
      </mat-toolbar>
    </mat-sidenav-container>
  </div>
</div>
